# Environments
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/
.venv_linux/

# Dependencies
node_modules/

# Python Caches
__pycache__/
*.py[cod]
*$py.class
.mypy_cache/

# Build
frontend/dist/
dist/
build/
*.egg-info/

# Logs
npm_log.txt
mypy_report.txt
eslint_report.txt

# DB
data/*.db
data/*.sqlite3

# IDE
.vscode/
.idea/
